* text=auto
*.rb text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
docs/quiz-questions/*.txt text eol=lf
tools/data/krowa_nouns.txt text eol=lf
*.ogg binary
*.mo binary
